* {
    box-sizing: border-box;
    margin-block: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-height: 100vh;

    font-size: 2em;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    min-height: calc(100vh - 160px);
}

.main {
    flex-grow: 4;

    background-color: rgb(59, 81, 183);
    border-radius: 20px;
    align-content: center;

    order: -2;

}

.aside, .ad {
    flex-grow: 2;
    
    border-radius: 20px;
    align-content: center;
}

.aside {
    background-color: rgba(235, 235, 41, 0.887);
}

.ad {
    background-color: rgb(255, 84, 22);
}

.header, .footer {
    height: 80px;
    background-color: rgb(80, 36, 122);

    align-content: center;
}

.header {
    border-radius: 0 0 20px 20px;
}

.footer {
    border-radius: 20px 20px 0 0;
}

@media screen and (width > 767px) {

    .content-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main {
        width: 100%;
    }

    .ad {
        flex-grow: 1;
        order: -1;
    }
}

@media screen and (width > 992px) {
    .content-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main {
        height: calc(100vh - 160px);
        min-width: 60%;
        width: auto;
        order: 2;
    }

    .ad {
        flex-grow: 1;
        order: 1;
    }
}